// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

.author
  position: absolute
  bottom: 10px
  right: 10px

.bots_img
  background: url('/images/different_types_of_web_bots.png') no-repeat
  background-size: cover
  width: 140px
  height: 100px

.ci_img
  background: url('/images/ci.png') no-repeat
  background-size: cover
  max-width: 200px
  max-height: 200px
  width: 200px
  height: 200px

.github_img
  background: url('/images/github-mark.png') no-repeat
  background-size: cover
  width: 215px
  height: 210px

.google_calendar_img
  background: url('/images/google_calendar.png') no-repeat
  background-size: cover
  width: 215px
  height: 210px

.health_check_img
  background: url('/images/health_check.png') no-repeat
  background-size: cover
  width: 215px
  height: 210px

.poker_planning_img
  background: url('/images/poker_planning.png') no-repeat
  background-size: cover
  width: 325px
  height: 210px

.utilities_img
  background: url('/images/utilities.png') no-repeat
  background-size: cover
  width: 256px
  height: 256px
  float: left

.utilities_list
  float: right
  padding-left: 100px