doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Telegram Bots in Software Development

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Telegram Bots
        h2 in Software Development
        .bots_img
        .author
         span @funnydaredevil

      section
        h2 What can we do with bots?
        ul
          li
          li Get customized notifications and news.
          li Integrate with other services.
          li Create custom tools.
          li Build social services.
          li Do virtually anything else.

      section
        h2 CI builds monitoring
        .ci_img

      section
        h2 Github notifications
        .github_img

      section
        h2 Google calendar notifications
        .google_calendar_img

      section
        h2 Web Service Health check
        .health_check_img

      section
        h2 Poker planning
        .poker_planning_img

      section
        h2 Utilities
        .utilities
          .utilities_img
          ul.utilities_list
            li TempMail
            li String utils
            li Pwgen
            li Converters
            li etc.

      section
        h2 Questions?

        h4 <a href="https://github.com/funnydaredevil">https://github.com/funnydaredevil</a>





      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')